html {
    background: #e3e3e3;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
    border-bottom: 10px solid #242424;

}

h1 {
 font-size: 3em;
 margin: 0;
}

p {
    line-height: 1.4em;
}

figure {
    text-align: center;
    font-style: italic;
}

table, th, td {
    border: 1px solid #000;
    text-align: center
}

th {
   background-color: #abb0ab;
}

#Blogs {
    border-top: 1px dotted #ccc;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
}

form {
    padding-top: 20px;
}

.navigation {
    background-color: darkgray;
    position: sticky;
    top: 0;
    left: 1;
    display: flex;
}

.float_image {
    height: .10px;
    width: .10px;
    float: left;
    margin-left: 10px;
}

section{
    display: flex;
}

.img_container{
    background: blue;
    width: 50px;
    height: 50px;
    float: right;
    /* Everytime I try adding the image, to the desired location, the image is blown way up in size. I could not figure out how to fix that. */
}